.tmp{
    display: inline;
}
.title{
    text-align: center;
}

#search_element{
    text-align: center;
    margin-bottom:50px;
}

input[name="search_text"]{
    width: 400px;
    height: 20px;
}

#search_category{
    overflow: auto;
    text-align: center;
    font-size: 20px;

}
#category{
    overflow: right;
    width: 200px;
    text-align: center;

}

#search_price{
    text-align: center;
    font-size: 20px;
    overflow: auto;
}

#price{
    overflow: right;
    width: 200px;
    text-align: center;
}

#pat {
    height: 100vh;
    background: repeating-linear-gradient(-45deg, transparent, transparent 19px, #1981f7 1px, #1981f7 20px), repeating-linear-gradient(45deg, transparent, transparent 19px, #1981f7 1px, #1981f7 20px),#edfeff;
    }


    
    .cp_ipselect {
        position: relative;
        width: 90%;
        margin: 2em auto;
        text-align: center;
    }
    .cp_sl06 {
        position: relative;
        font-family: inherit;
        background-color: transparent;
        width: 100%;
        padding: 10px 10px 10px 0;
        font-size: 18px;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid rgba(0,0,0, 0.3);
    }
    .cp_sl06:focus {
        outline: none;
        border-bottom: 1px solid rgba(0,0,0, 0);
    }
    .cp_ipselect .cp_sl06 {
        appearance: none;
        -webkit-appearance:none
    }
    .cp_ipselect select::-ms-expand {
        display: none;
    }
    .cp_ipselect:after {
        position: absolute;
        top: 18px;
        right: 10px;
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid rgba(0, 0, 0, 0.3);
        pointer-events: none;
    }
    .cp_sl06_selectlabel {
        color: rgba(0,0,0, 0.5);
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 10px;
        transition: 0.2s ease all;
    }
    .cp_sl06:focus ~ .cp_sl06_selectlabel, .cp_sl06:valid ~ .cp_sl06_selectlabel {
        color: #da3c41;
        top: -20px;
        transition: 0.2s ease all;
        font-size: 14px;
    }
    .cp_sl06_selectbar {
        position: relative;
        display: block;
        width: 100%;
    }
    .cp_sl06_selectbar:before, .cp_sl06_selectbar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #da3c41;
        transition: 0.2s ease all;
    }
    .cp_sl06_selectbar:before {
        left: 50%;
    }
    .cp_sl06_selectbar:after {
        right: 50%;
    }
    .cp_sl06:focus ~ .cp_sl06_selectbar:before, .cp_sl06:focus ~ .cp_sl06_selectbar:after {
        width: 50%;
    }
    .cp_sl06_highlight {
        position: absolute;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }





    /* book-out.css */



    
    .container {
        display: flex;
        flex-direction: row;
        background-color: #cdda3c;
        height: 300px;
        justify-content: center; 
        text-align: center;
    }
    
    .set1 {
        display: flex;
        flex-direction: column;
        width: 230px;
        height: 300px;
        background-color: #dedfdd;
    }
    
    .set2 {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 300px;
        background-color: #da3c3c;
    }
    
    .set3 {
        display: flex;
        flex-direction: column;
        width: 230px;
        height: 300px;
    }
    
    .syohin_id {
        margin-right: 10px;
    }
    
    .syohin_img {
        margin-left: 40px;
        width: 150px;
        height: 200px;
    }
    
    .syohin_name {
        margin-bottom: 5px;
    }
    
    .syohin_price {
        margin-bottom: 5px;
    }
    
    .reg_date {
        margin-bottom: 2px;
    }
    
    .up_date {
        margin-bottom: 2px;
    }
    
    .syohin_exp {
        /* 追加のスタイル */
    }
    
    
    .edit {
        margin-top: 50px;
        white-space: pre-line;
        width: 80px;
        height: 30px;
    }
    
    .delete {
        margin-top: 10px;
        width: 80px;
        height: 30px;
    }
    